GridBackground{
    --grid-background-color: var(--ds-colors-grid-light-grey-1);
    --line-color: var(--ds-colors-grid-light-grey-2);
    --thick-line-color: var(--ds-colors-grid-light-grey-2);
    --spacing: var(--ds-spacing-grid-25);
}